.home-sec{
    height: 100vh;
    width: 100%;
    /* background-image: url('visit-img1.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    position: fixed;

}
.home-sec video{
    height: fit-content;
    width: 100%;
}
.home-sec h1{
    position: relative;
    bottom: 800px;
    left: 600px;
    color: rgb(72, 219, 14);
    font-size: 200px;
    font-family: fantasy;
}
.home-sec h3{
    position: relative;
    bottom: 760px;
    left: 600px;
    color: orange;
    font-size: 100px;
    font-family:fantasy;
    font-style:initial;
}

.home-sec button{
    position: relative;
    bottom: 800px;
    left: 660px;
    font-size: 30px;
    font-family: fantasy;
    font-style: italic;
    background-color: gold;
    width: 200px;
    border-radius: 20px;
}